---
// index.astro
// Propósito: Página de inicio. Compone la columna flex (Navbar, Hero flexible, Footer anclado).
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<!-- min-h-0 evita que flex-1 se desborde por contenido intrínseco -->
	<main class="flex-1 min-h-0 flex flex-col overflow-hidden">
		<Hero />
	</main>
	<Footer />
</Layout>
